body {
    background-color: #ED9390;
}
.container {
    border: 5px solid #DFE2CF;
    border-radius: 2%;
    margin: 100px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: #8E94F2;
}

h1 {
    color: black;
    text-shadow: 2px 2px #DFE2CF;
    font-family: fantasy;
    text-align: center;
}

input {
    margin: 2%;
    margin-right: 2%;
    margin-left: 36%;
    padding: 15px 40px 15px 40px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #DFE2CF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inputfield::placeholder {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #638475;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: #C5D3CD;
    color: white;
}
ul {
    padding: 0;
    margin: 20px 0;
}

ul li {
    position: relative;
    padding-left: 48px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: black;
    padding: 2%;
    list-style: none;
    user-select: none;
    cursor: pointer;
}

ul li:hover {
    background-color: #C5D3CD;
    color: white;
    border-radius: 8px;
}

ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 29px;
    height: 29px;
    border-radius: 50%;

    background-image: url("img/uncheck.png");
    background-size: cover;
    background-position: center;
}

ul li.checked::before{
    background-image: url("img/check.png");
}

ul li.checked {
    text-decoration: line-through;
    color: #555;
}

ul li {
    position: relative; /* already present, but MUST exist */
}

ul li span.delete {
    position: absolute;
    right: 16px;              /* pushes it to the right end */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
}

ul li span.delete:hover {
    color: red;
}
